img {
  max-width: 100%;
  height: auto;
}
 .navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
   background-color: #686B91;
} 
.navbar li {
  display: inline-block;
}
.navbar li a {
  display: block;
  color: #ADBDB2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li a:hover {
 background-color: #2F4F64;
}
body {
background-color: #2F4F64;
color: #ADBDB2;
}
main {
  text-align: center;
}
a:link{
  color: #B9B5AD;
}
a:visited{
  color: #B9B5AD;
}
a:hover{
  color: #B9B5AD;
}
a:active{
  color: #B9B5AD;
}
