  
header {
background-color: #2F4F64;
color: #ADBDB2;
}
body {
  background-color: #2F4F64;
}
a:link{
  color: #B9B5AD;
}
a:visited{
  color: #B9B5AD;
}
a:hover{
  color: #B9B5AD;
}
a:active{
  color: #B9B5AD;
}
/* !!!!!!!!!!!!!!!!!!!!!!!*/
#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL li {
  /* Remove default list styling */
  color: #2F5F64;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
