body {
background-color: #2F4F64;
color: #ADBDB2;
}
.main_text {
    text-align: center;
}
footer {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}
a:link{
  color: #B9B5AD;
}
a:visited{
  color: #B9B5AD;
}
a:hover{
  color: #B9B5AD;
}
a:active{
  color: #B9B5AD;
}
